.character-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    transition: all 2s ease-in-out;
    opacity: 1.0;
}

.character {
    user-select: none;
    position: relative;
    margin: auto;
    width: 850px;
    height: 850px;
}

.hidden {
    transform: scale(0.5) translateY(+100px);
    opacity: 0.0;
}

.body-part {
    user-select: none;
    position: absolute;
    border:0;
    text-decoration:none;
    outline:none
}

.name {
    top: 50px;
    width: 100%;
    text-align: center;
    height: fit-content;
    z-index: 30;
}

.eyes {
    top: 170px;
    left: 338px;
    width: 175px;
    height: 50px;
}

.brows {
    top: 140px;
    left: 338px;
    width: 175px;
    height: 50px;
}

.nose {
    top: 185px;
    left: 390px;
    width: 70px;
    height: 80px;
}

.mouth {
    top: 260px;
    left: 338px;
    width: 175px;
    height: 50px;
}

.hidden > .floating {
    animation-duration: 0.5s;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

@media (orientation: portrait) {

    .character-wrapper {
        transform: scale(2.0);
    }

    .character-wrapper.hidden {
        transform: scale(1.0);
    }

    .character {
        /*width: 1700px;*/
        /*height: 1700px;*/
    }

    .body-part {
        /*transform: scale(2.0);*/
    }
}
