@font-face {
    font-family: fallout;
    src: url(../fonts/monofonto.ttf);
}

* {
    color: #1bff80;
    font-family: fallout;
    font-size: 28pt;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #1bff80;
}

#main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
}

.dialogue {
    z-index: 11;
    position: relative;
    margin: auto auto 7.5vh;
    box-sizing: border-box;
    max-width: 1000px;
    max-height: 285px;
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #1bff80, #00000000 15%, #00000000 85%, #1bff80);
}

.scroll-wrapper {
    z-index: 12;
    position: relative;
    padding: 12px 25px;
    box-sizing: border-box;
    max-height: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.scroll-wrapper::-webkit-scrollbar-button {

}

.scroll-wrapper::-webkit-scrollbar-thumb {

}

.scroll-wrapper::-webkit-scrollbar-track {

}

.dialogue__option {
    z-index: 13;
    direction:ltr;
    user-select: none;
    padding: 8px 32px;
    border: 2px solid #00000000;
}

.dialogue__reply {
    z-index: 14;
    direction:ltr;
    user-select: none;
    padding: 8px 32px;
}

.dialogue__option:hover {
    cursor: pointer;
    background: #1bff8022;
    border-color: #1bff80;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000BB;
    filter: blur(20px);
    width: 100%;
    height: 100%;
    z-index: 10;
}
