.stats {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    z-index: 80;
}

.stats__item {
    z-index: 80;
    user-select: none;
    padding: 8px 32px;
    background: rgba(4, 59, 30, 0.6);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #1bff80, #00000000 15%, #00000000 85%, #1bff80);
}

.stats__filler {
    width: 250px;
    display: block;
}

@media (orientation: portrait) {
    .stats {
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stats__filler {
        display: none;
    }
}